%%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {piqi, {git, "https://github.com/sanmiguel/piqi-erlang.git", {branch, "master"}}}
       ]}.

{relx, [{release, {'prpt', "0.1.0"},
         ['prpt',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
